.auth-form {
    width: 40rem;
    max-width: 80%;
    margin: 2rem auto;
}

.form-control label,
.form-control input {
    width: 100%;
    display: block;
}

.form-control label {
    margin-bottom: 0.5rem;
}

.form-control {
    margin-bottom: 1rem;
}

.form-actions button {
    background: #01d1d1;
    color: white;
    font: inherit;
    border: 1px solid #01d1d1;
    border-radius: 3px;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active {
    background: #01b1b1;
    border-color: #01b1b1;
}
